.title-name {
	background-color: black;
	color: red;
}
.titleName {
	background-color: yellow;
	color: red;
}

.titleName.online {
	background-color: rgb(60, 255, 0);
	color: blue;
}

.titleName.offline {
	background-color: rgb(255, 0, 144);
	color: blue;
}
